lightning @ git+https://github.com/Lightning-AI/lightning@master
jsonargparse[signatures]  # CLI
transformers
python-Levenshtein
cachetools
imohash
sacremoses
easse@ git+https://github.com/feralvam/easse.git
spacy